.header{
    width: 100%;
    height: 150px;
    background: lightcoral;
}

// .header-img{
//     margin-top: 0px;
//     padding: 10px;
//     background: rgba(255, 255, 255, 0.19);
// }

// .title-logo{
//     display: inline-block;
//     text-align: center;
//     width: 100%;
// }

// .header-title{
//     margin-top: 30px;
// }
