@import'./src/styles/_themes.scss';


// .movie-card{
//     width: 100vw;
//     height: 100vh;
//     position: relative;
//     box-sizing: border-box;
//     // margin-top: 40px;
//     padding: 0;
//     // display: flex;
//     align-items: center;
//     overflow: hidden;
//     background: rgba(243, 243, 243, 0.25); 
// }

.form {
    // width: 500px;
    // height: 300px;
}

.genre-field{
    margin-bottom: 30px;
    float: left;
}

.genre-btn{
    margin-top: 20px;
    float: left;
}
    
