@import'./src/styles/_themes.scss';


.slider{
    width: 70vw;
    height: 80vh;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: $thm-raisinBlack;
    
}

.slide {
    min-width: 100%;
    height: 80%;
    transition: .5s;

}

%btn-styles{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: 20%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover{
        background: $thm-blackOlive;
        cursor: pointer;
    }


}

#goLeft{
    left: 0;
    @extend %btn-styles;
    
}

#goRight{
    right: 0;
    @extend %btn-styles;

}